# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
pnpm-store
.yarn

# Production builds
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyproj
*.emacs

# Environment variables (NEVER commit these to public repo)
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging
.env.staging.local

# Firebase
!.firebaserc
firebaser.conf.json
firebase.initializeApp.json
.secrets.SecretsManager.json

# Node.js
.DS_Store
Raftfile*
npm-debug.log*
yarn-debug.log*

# Kubernetes
charts/*.yml
charts/*.yaml
cluster.yml
k8s/**/*.yml
k8s/**/*.yaml
*.kubeconfig

# Docker
.dockerinit
.dockerignore
Dockerfile*
docker-compose*.yml
*.image

# Editor filehistory
.history/

# System
Thumbs.db
ehthumbs.db

# Local overrides
*. overrides.*